<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1> My Name is Avirup Dutta</h1>
            <ol>
                <li> Create two new components, both manually and through CLI, warning-alert and success-alert!!!</li>
                <li>Output them beneath each other in app-component</li>
                <li>Output a warning or success message in components</li>
                <li>Style the components appropriately, with warning or success messages</li>
            </ol>
            <hr>
            <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
            <p *ngIf="showSecret">Secret Password= tuna</p>
            <div *ngFor="let logItem of log; let i = index" 
            [ngStyle]="{backgroundColor: i>=5? 'blue' : 'transparent'}"
            [ngClass]="{'white-text': i>=5}">{{ logItem }}</div>

            <hr>
            <p>Use external and internal templates and styles</p>
            <p>Feel free to create more components, nest them into each other, or play around with their selectors!!!</p>
            <hr>
            <app-server></app-server>
            <hr>
            <app-servers></app-servers>
            <hr>
            <app-warning-alert></app-warning-alert>
            <hr>
            <app-success-alert></app-success-alert>
            <hr>
            <label>Username</label>
            <input type="text" class="form-control" [(ngModel)]="username">
            <p>{{ username }}</p>
            <button class="btn btn-primary" style="margin-bottom: 200px;" [disabled]="username===''" (click)="username=''" >Reset User</button>
            <hr>
        </div>
    </div>
</div>


